.chart-back {
    position: absolute;
    width: 450px;
    height: 400px;
    color: black;
    background-color: white; 
    border-style: outset; 
}

.game-on-chart {
    color: black;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    margin: 0px;
    width: 70px;
    height: 350px;
    padding: 0px;
}

.chart-bar {
    position: absolute;
    bottom: 0;
    color: black;
    background-color: blue;
    /*display: inline-flex;
    flex-direction: column;*/
    margin: 5px;
    margin-bottom: 90px;
    width: 50px;
    max-height: 250px;
    /*height: 250px;*/
    padding: 5px;
    border-style: outset;
}

.game-icon {
    position: absolute;
    bottom: 0;
    color: black;
    background-color: white;
    /*display: inline-flex;
    flex-direction: column;*/
    margin: 5px;
    width: 50px;
    height: 60px;
    padding: 5px;
    border-style: outset;
}
  
.sample-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 226, 255);
    height: 50px;
    /*width: 25px;*/
    margin-bottom:5px;
}
  
.info {
    display: flex;
    justify-content: space-around;
}
  
.title-publisher {
    display: inline-block;
}

.chart-back ul li {
	margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;

	display: inline-block;	
}

.info-text {
	display: block;
	font-size: 50%;
}
