* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #282c34;
  color: white;
  margin: 20px;
}

.navBar {
  background-color: darkorchid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  display: inline-block;
}

.navBar li button{
  background-color: darkorchid;
  border: none;
  margin: 0;
  color: white;
  width: 100px;
  height: 33px;
  float: left;
}

.navBar li button:hover {
  background-color: orchid;
  color: white;
  cursor: pointer;
}

.game-icon {
  color: black;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  width: 200px;
  height: 170px;
  padding: 5px;
}

.sample-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(154, 226, 255);
  height: 100px;
  margin-bottom:20px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.title-publisher {
  display: inline-block;
}

.publisher {
  color:grey;
}

.green-percent {
  color:rgb(69, 255, 62);
}

.red-percent {
  color: red;
}

.yellow-percent {
  color: rgb(255, 230, 0);
}

.percent {
  display: inline-block;
}

.loginForm {
  margin: auto;
  max-width: 500px;
}


.loginInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.loginBtn {
  background-color: darkorchid;
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0;
  float: right;
}