* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #282c34;
  color: white;
  margin: 20px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 5px;
}

nav {
  margin-bottom: 20px;
}

nav button {
  padding: 3px;
}