* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #282c34;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif; 
}

.navBar {
  background-color: darkorchid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 90;
}

.navBar li a {
  display: block;
  background-color: darkorchid;
  border: none;
  margin: 0;
  color: white;
  width: 100px;
  height: 33px;
  float: left;
  text-align: center;
  z-index: 100;
  padding: 5px;
}

.navBar li a:hover {
  background-color: orchid;
  color: white;
  cursor: pointer;
}

.navBar li a::after {
  background-color: orchid;
  color: white;
}

.game-icon-regular {
  color: black;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  width: 200px;
  height: 170px;
  padding: 5px;
}

.game-icon-small {
  color: black;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
  margin-bottom: 20px;
  width: 150px;
  height: 135px;
  padding: 5px;
}

.sample-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(154, 226, 255);
  height: 100px;
  margin-bottom:20px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.title-publisher {
  display: inline-block;
}

.publisher {
  color:grey;
}

.green-percent {
  color:rgb(69, 255, 62);
}

.red-percent {
  color: red;
}

.yellow-percent {
  color: rgb(255, 230, 0);
}

.percent {
  display: inline-block;
}

.page-content {
  margin: 20px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

/* ##################################################   Charts   ################################################## */
.chart-back {
  position: relative;
  /*width: 650px;*/
  height: 550px;
  color: black;
  background-color: white; 
  border-style: outset; 
  float: left;
  /*margin-left: 75px;
  margin-top: 50px;*/
  margin:25px; 
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.game-on-chart {
  position: relative;
  color: black;
  /*background-color: white;*/
  display: inline-flex;
  flex-direction: column;
  margin: 0px;
  width: 70px;
  height: 350px;
  padding: 0px;
  align-items: center;
  margin-top: 120px;
}


.chart-bar {
  position: absolute;
  bottom: 60px;
  color: black;
  /*background-color: blue;*/
  background-color: rgb(0, 97, 200);
  /*display: inline-flex;
  flex-direction: column;*/
  /* margin: 5px; */
  margin-bottom: 90px;
  width: 50px;
  max-height: 325px;
  /*height: 250px;*/
  padding: 5px;
  /*border-style: outset;*/
  border-radius: 10px;
}

.game-icon-chart {
  position: absolute;
  bottom: 25px;
  color: black;
  background-color: white;
  /*display: inline-flex;
  flex-direction: column;*/
  margin: 5px;
  width: 100px;
  height: 80px;
  /* padding: 5px; */
  /* border-style: outset; */
}

.sample-image-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(154, 226, 255);
  height: 70px;
  /*width: 25px;*/
  margin-bottom:5px;
  border-radius: 10px;
}

.info-chart {
  display: flex;
  justify-content: space-around;
}

.title-publisher-chart {
  display: inline-block;
}

.chart-back ul li {
margin: 25px;
font-weight: bold;
list-style: none; /* Gets rid of list bullet points */
text-align: center;

display: inline-block;	
}

.info-text {
display: block;
font-size: 50%;
}

.chart-title {
  text-align: center;
  margin: 10px;
}

.y-axis {
  position: absolute;
  border:1px solid black;
}
.y-axis tr{
  height: 30px;
}

/* ##################################################   Login   ################################################## */
.loginForm {
  width: 25%;
}

.loginInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}  

.loginBtn {
  background-color: darkorchid;
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0;
  float: right;
}

/* ##################################################   Profile   ################################################## */

.profile-page {
  display: inline-flex;
  flex-direction: row;
}

.profile-left {
  color: black;
  background-color: slategrey;
  margin: 20px;
  width: 250px;
  height: 500px;
  padding: 5px;
  border: solid;
  border-width: 5px;
  border-color: slategrey;
  border-radius: 2%;
}

.games-container {
  color: black;
  background-color: slategrey;
  margin: 20px;
  margin-left: 5px;
  width: 180px;
  height: 500px;
  padding: 5px;
  border: solid;
  border-width: 5px;
  border-color: slategrey;
  border-radius: 2%;
}

.reviews-container {
  color: black;
  background-color: slategrey;
  margin: 20px;
  margin-left: 5px;
  width: 180px;
  height: 500px;
  padding: 5px;
  border: solid;
  border-width: 5px;
  border-color: slategrey;
  border-radius: 2%;
}

.sample-profile-image {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: seagreen;
  height: 200px;
  width: 200px;
  margin-bottom:20px;
  border-radius: 50%;
}

.profile-name-desc {
  display: inline;
  float: left;
}

.profile-name-desc h4 {
  color: darkblue;
  font-size: larger;
}

.profile-name-desc h5 {
  color: darkgray;
}

.profile-btn {
  display: inline-block;
  background-color: darkorchid;
  color: black;
  border: none;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  padding: 2px;
  width: 100%;
  height: 25px;
}

.profile-btn:hover {
  background-color: purple;
}

.profile-hardware{
  margin-top: 15px;
}

