.game-cover {
    position: absolute;
    width: 30vw;
    max-height: 200px;
}

.game-info {
    margin-left: 35vw;
    width: 55vw;
    height: 200px;
}

.game-likebar {
    float: left;
    position: absolute;
    right: 5vw;
    border: 2px solid black;
    padding: 2px 3px;
    clear: both;
}

.game-rate {
    display: inline;
}

.game-title {
    margin: 5px;
}

.game-publisher {
    margin: 5px;
}

.game-genre {
    margin: 5px;
}

.game-review p {
    margin: 5px;
    margin-bottom: 15px;
}